@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{
    margin: 0;
    background: #201c2c;
}

h1{
    font-family: poppins;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

